block variables
doctype html

html(lang="ja")
  head
    include _meta
    include _stylesheet
    include _head_script


  body

    include _header

    block content



    include _footer

    include _body_script
