//----------------------------------------------------------------
//- 共通のレイアウトを継承
//----------------------------------------------------------------
extends ../../_common/pug/_layout

//----------------------------------------------------------------
//- ページ毎の変数を追加(メタタグや相対パス、ページ固有データ)
//----------------------------------------------------------------
append variables
  //- 相対パス
  - var relativePath = "../";
  //- ページ固有データ
  - var pageData = data.under_index;
  //- ページタイトル

//----------------------------------------------------------------
//- ページ毎のcssを追加
//----------------------------------------------------------------
//- append css
  link(rel="stylesheet" href=`${relativePath}css/***.css`)

//----------------------------------------------------------------
//- ページ毎のjsを追加
//----------------------------------------------------------------
//- append js
  script(src=`${relativePath}js/***.js` charset="utf-8")

//----------------------------------------------------------------
//- mainコンテンツを記述
//----------------------------------------------------------------
block content
  main
    //- メインコンテンツ
    div.content
